<p id="notice"><%= notice %></p>

<h1>Listing Tops</h1>

<table>
  <thead>
    <tr>
      <th>Current size</th>
      <th>Gauge</th>
      <th>Stitch</th>
      <th>Number of sts</th>
      <th>Pattern repeat</th>
      <th>Instructions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tops.each do |top| %>
      <tr>
        <td><%= top.current_size %></td>
        <td><%= top.gauge %></td>
        <td><%= top.stitch %></td>
        <td><%= top.number_of_sts %></td>
        <td><%= top.pattern_repeat %></td>
        <td><%= top.instructions %></td>
        <td><%= link_to 'Show', top %></td>
        <td><%= link_to 'Edit', edit_top_path(top) %></td>
        <td><%= link_to 'Destroy', top, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Top', new_top_path %>
