<h1>New Top</h1>

<%= form_tag(tops_path) do %>
	<%= text_field_tag :gauge, nil, placeholder: "Gauge" %><br />
	<%= text_field_tag :current_size, nil, placeholder: "Current Size" %><br />
	<%= select_tag :stitch, nil, placeholder: "Stitch" %>
	<%= number_field_tag :number_of_sts, nil, placeholder: "#" %>
	<%= select_tag :stitch, nil, placeholder: "Stitch" %>
	<%= number_field_tag :number_of_sts, nil, placeholder: "#" %>
	<%= select_tag :stitch, nil, placeholder: "Stitch" %>
	<%= number_field_tag :number_of_sts, nil, placeholder: "#" %>
	<%= select_tag :stitch, nil, placeholder: "Stitch" %>
	<%= number_field_tag :number_of_sts, nil, placeholder: "#" %>
	<%= select_tag :stitch, nil, placeholder: "Stitch" %>
	<%= number_field_tag :number_of_sts, nil, placeholder: "#" %>
	<%= select_tag :stitch, nil, placeholder: "Stitch" %>
	<%= number_field_tag :number_of_sts, nil, placeholder: "#" %><br />

	<%= submit_tag "Create Pattern", class: "btn btn-info" %>
<% end %>

<%= link_to 'Back', tops_path %>
